@import url(https://use.typekit.net/https://use.typekit.net/zlh0fzl.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: pixelify-sans;
}
body{
    width: 100%;
    height: 100vh;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: Arial, sans-serif;
}
.Game-Table{
    width: 300px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 4px;
}
.Game-Table div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(20, 20, 20);
    color: white;
    font-size: 28px;
    user-select: none;
    cursor: pointer;
}
body .controls{
    display: flex;
    gap: 10px;
}
body .controls input{
    padding: 8px;
    width: 100px;
    border-radius: 5px;
    border: 1px solid #333;
    text-align: center;
    background-color: black;
    color: white;
}
body .controls input::placeholder{
    color: #ffff;
    font-family: pixelify-sans;
}
body .controls input:hover{
    opacity: 0.8;
}
body .controls button{
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: black;
    color: white;
}
button:hover{
    opacity: 0.8;
}