@import url(https://use.typekit.net/zlh0fzl.csshttps://use.typekit.net/zlh0fzl.css);
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: pixelify-sans;
}
body{
    width: 100%;
    height: 80vh;
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
body .main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
body .main h1{
    margin-bottom: 30px;
    font-size: 40px;
}
body .main .game-start{
    width: 95px;
    height: 45px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 8px;
    cursor: pointer;
}
body .main .game-start:hover{
    transform: scale(1.1);
    transition: 1.1s;
}
body .main .game-start a{
    color :#ffff;
    text-decoration: none;
    font-size: 25px;
}

.explain-btn{
    margin-top: 20px;
    width: 150px;
    height: 45px;
    background-color: #222;
    color: white;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    cursor: pointer;
    border: 2px solid black;
}
.explain-btn:hover{
    transform: scale(1.1);
    transition: 0.3s;
}

/* Modal Background */
.modal {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    justify-content: center;
    align-items: center;
}

/* Modal Box */
.modal-content {
    width: 350px;
    background: #000;
    color:#fff;
    padding: 25px;
    border-radius: 12px;
    text-align: center;
}
.modal-content h2{
    margin-bottom: 15px;
}
#closeExplain{
    margin-top: 20px;
    padding: 10px 20px;
    background: #000;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}
